#bannerPrincipal {
  background-image: url("../../img/r-architecture-2gDwlIim3Uw-unsplash.jpg");
  background-position: center;
  background-size: cover;

  .bg-banner {
    background-color: rgba(0, 0, 0, 0.695);
  }
}
