@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap");


@import 'keyframes';

html {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #161616;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(45, 45, 45);
    border-radius: 20px;
  }
}

$display: "DM Serif Display", serif;
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.text-deco {
  font-family: $display;
}


