@import "global";

#bannerPrincipal {
  background-image: url("../../img/r-architecture-2gDwlIim3Uw-unsplash.jpg");
  background-position: center;
  background-size: cover;

  .bg-banner {
    background-color: rgba(0, 0, 0, 0.695);
  }
}



html {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #161616;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(45, 45, 45);
    border-radius: 20px;
  }
}

#mais_conforto {
  background: url("../../img/house.png") top 10px right 50px no-repeat;
  background-size: 150px;

  
}

#tags_imoveis {
  &::-webkit-scrollbar{
    height:0;
  }
}
